{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1 id="typography">Add new sound</h1>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
            <div class="well bs-component">
				<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
					{% csrf_token %}
					
					{% for error in form.non_field_errors %}
					
						{% if forloop.first %}
						<!--<div class="alert alert-dismissible alert-danger">-->
							<ul>
							{% endif %}

							
								<li>{{error}}</li>
								
							{% if forloop.last %}
							</ul>
						<!--</div>-->
						{% endif %}
					{% endfor %}
					<div class="form-group">
						{{ form.sound.errors }}
						<label for="{{ form.sound.id_for_label }}" class="col-lg-2 control-label">Sound:</label>
						<div class="col-lg-10">	
							{{ form.sound }}
						</div>
					</div>
					<div class="form-group">
						{{ form.title.errors }}
						<label for="{{ form.title.id_for_label }}" class="col-lg-2 control-label">Title:</label>
						<div class="col-lg-10">
							{{ form.title }}
						</div>
					</div>
					<div class="form-group">
						<div style="text-align:center" class="col-lg-12">
							<input class="btn btn-primary" type="submit" value="Create">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
	


{% endblock %}