{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1 id="typography">List of all sounds</h1>
			</div>
		</div>
	</div>

    {% for sound in sound_list %}
		{% if forloop.counter0|divisibleby:2 %}
		<div class="row">
		{% endif %}
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ sound.title }}
					</div>
					<div class="panel-body">
						<div class="row">
							<div style="text-align:center; margin-top:3px" class="col-lg-8">
								<audio controls>
									<source src="{{ sound.sound.url }}" type="audio/mpeg">
								</audio>
							</div>
							<div style="text-align:center" class="col-lg-4">
								<a href="{{ sound.get_absolute_url }}" class="btn btn-primary">Sound details</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		{% if forloop.counter0|add:"-1"|divisibleby:2 %}
			{% if forloop.last %}
			<div class="col-lg-6"></div>
			{% endif %}
		</div>
		{% endif %}
		
    {% empty %}
        There are no sounds.
    {% endfor %}
{% endblock %}