{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1 id="typography">{{ sound.title }}</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div style="text-align:center; margin-top:3px" class="col-lg-7">
				<audio controls>
					<source src="{{ sound.sound.url }}" type="audio/mpeg">
					<p>Your browser does not support the <code>audio</code> element.</p>
				</audio>
			</div>
			<div style="text-align:center" class="col-lg-3">
				<a href="{{ sound.sound.url }}" title="Download" class="btn btn-primary">Download MP3</a>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="col-lg-6"></div>
	</div>
{% endblock %}