{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1 id="typography">Add new sound from YouTube</h1>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
            <div class="well bs-component">
				<form action="" method="post" class="form-horizontal">
					{% csrf_token %}

					<div class="form-group">
						{{ form.url.errors }}
						<label for="{{ form.url.id_for_label }}" class="col-lg-2 control-label">URL:</label>
						<div class="col-lg-10">	
							{{ form.url }}
						</div>
					</div>
					<div class="form-group">
						{{ form.title.errors }}
						<label for="{{ form.title.id_for_label }}" class="col-lg-2 control-label">Title:</label>
						<div class="col-lg-10">
							{{ form.title }}
						</div>
					</div>
					<div class="form-group">
						{{ form.start.errors }}
						<label for="{{ form.start.id_for_label }}" class="col-lg-2 control-label">Start:</label>
						<div class="col-lg-10">
							{{ form.start }}
						</div>
					</div>
					<div class="form-group">
						{{ form.length.errors }}
						<label for="{{ form.length.id_for_label }}" class="col-lg-2 control-label">Length:</label>
						<div class="col-lg-10">
							{{ form.length }}
						</div>
					</div>
					<div class="form-group">
						<div style="text-align:center" class="col-lg-12">
							<input class="btn btn-primary" type="submit" value="Create">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>

{% endblock %}