<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>

		{% load staticfiles %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

		<link rel="stylesheet" href="{% static 'main/css.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'main/bootstrap.min.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'main/custom.min.css' %}">

		{% block extra_head %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="../" class="navbar-brand">AGSound.io</a>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/">Show list</a>
						</li>
						<li>
							<a href="/create">Create new</a>
						</li>
						<li>
							<a href="/youtube">Create from YT</a>
						</li>
						<li>
							<a href="/api">API</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	
		<div class="container">
			<noscript>
				<div class="notice">
				    Please enable JavaScript in your browser
                </div>
		    </noscript>

			{% block content %}{% endblock %}
			
		</div>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		{% block extra_body %}{% endblock %}
	</body>
</html>